<!DOCTYPE html>
{% load static %}
{% load news_tags %}
{% get_categories as categories %}
{% get_news as news %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="icon" href="{% static 'news/images/icon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'news/css/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

{% block menu %}
<!---Левая часть меню--->
<nav class="navbar navbar-expand-lg" style="background-color: #F0F8FF">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'HomePage' %}"><img src="{% static 'news/images/logo.png' %}" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'HomePage' %}">Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'contacts' %}">Контакты</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#">
                        Категории
                    </a>
                    <ul class="dropdown-menu">
                        {% for category in categories %}
                        <li>
                            <a class="dropdown-item" href="{% url 'CategoryDetail' category_slug=category.slug %}">
                                {{ category }} [{{ category.news_set.count }}]
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <!---Левая часть меню--->

            <!---Правая часть меню--->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!---Добавление новости только для суперюзера--->
                {% if request.user.is_superuser %}
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#">
                        Добавить
                    </a>
                    <ul class="dropdown-menu">
                        <a class="nav-link active" aria-current="page" href="{% url 'AddNews' %}">Добавить новость</a>
                        <a class="nav-link active" aria-current="page" href="{% url 'AddCategory' %}">Добавить
                            категорию</a>
                    </ul>
                </li>
                {% endif %}
                <!---Отображение правого меню в зависимотри от логина--->
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#">
                        <i class="far fa-user">{{ user.get_full_name }}</i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Профиль</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Выход</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#">
                        Аутентификация
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'register' %}">Регистрация</a></li>
                        <li><a class="dropdown-item" href="{% url 'login' %}">Авторизация</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!---Правая часть меню--->
{% endblock menu %}

<div class="row">
    <div class="col-md-2">
        <div class="topik">
            {% for n in news %}
            <div class="card">
                <div class="card-header">
                    {{ n }}
                    <h6 class="card-subtitle mb-2 text-muted">Просмотры: {{ n.views }}</h6>
                </div>
                <a href="{{ object.get_absolute_url }}" class="btn btn-primary">Читать</a>
            </div>
            {% endfor %}
        </div>
    </div>

    {% block content %}
    {% endblock content %}

    <div class="col-md-2">

    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</html>
