{% extends 'news/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header" style="background-color: #F0F8FF">
        {{ object.get_categories }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ object.title }}</h5>
        <img src="{{ object.image.url }}" alt="" class="card-image">
        <p class="card-text">{{ object.content }}</p>
    </div>
    <div class="card-footer text-muted" style="background-color: #F0F8FF">
        {{ object.date_publication }}
    </div>
</div>
{% endblock content %}