img {
    width: 500px;
    hight: auto;
}

.card {
    margin-top: 10px;
    margin-bottom: 25px;
}

.navbar {font-size:18px;}

.navbar img {
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.contacts a{
    text-decoration: None;
    font-size: 24px;
    color: black;

}

.contacts li {
    list-style-type: None;
    transition: 1s;
}

.contacts li:hover{
    transform: scale(1.25);
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    color: black;
    background-color: white;
    min-width: 320px;
}

.navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}